/* Reset Styles */
*, 
*::before,
*::after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding-left: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    text-decoration: none;
    
    padding-right: 15px;
    padding-left: 15px;
}

a {
    color: currentColor;
    text-decoration: inherit;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

img{
    display: block;
    max-width: 100%;
}

ul,
li {
    list-style-type: none;
}


.block-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

/* common styles */
.container{
        max-width: 1158px;
        padding: 0 15px 0 15px;
        margin: 0 auto;
        
      } 
      



/* Header */
.header{
    
    border-bottom: 1px solid #E7E9FC;
    background: var(--WHITE, #FFF);
    margin: 0 auto; 
    
  
    
    
}

.header-container{
    display: flex;
    align-items: center;
    
}


.nav-list{    
     
    display: flex;
gap: 40px;
    
}


.nav{
   

        color: #2E2F42;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        margin-right: auto;
        align-items: center;

    }

.nav:hover,
.nav:focus {
    color: #404BBF;
}

.nav-link{
   margin-right: 40px;  
   padding-top: 24px;
   padding-bottom: 24px;
   display: block;
   
}

.nav-link :last-child{
    margin-right: 0;
}

 
.logo{ 
       text-decoration: none;
         color:  #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;       
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
            
            
                                
        
}

.logo-header{
    color:  #2E2F42;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;       
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
}


   

.address-item:hover, .address-item:focus{
    color: #404BBF;
}

.address-item{
    color:  #434455;      
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;        
        letter-spacing: 0.02em;
        margin-right: 40;
       
}
.address-item :last-child{
    margin-right: 0;
    
}


.address-list{
   display: flex;
gap: 40px;  
    

}





/* Hero section */

.hero-section {
    background: #2E2F42;
    
    /* padding: 188px 0 292px 0; */
    padding: 188px 0 188px;
    
}

.hero-container{
    
    background: #2E2F42;
   
   
  
}
    
    


.name{color:  #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    height: 120px;
    margin: auto;
    margin-bottom: 48px;
    
    
    
}

.button:hover, button:focus{
    background: #404BBF
}
    .button{
     background:  #4D5AE5;
     font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;  
    
    min-width: 169px;
    height: 56px;
    display: block;
    margin: auto;   
    border: none;
    border-radius: 4px;
    
   
}
          




     


/* second section */
.second-section{
    padding: 120px 0 120px;
}
      .visually-hidden {
        position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
        
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
        .second-container{
            /* padding: 120px 0; */
        }
        .second-list{
            display: flex;
            gap: 24px;
            justify-content: center;
            
        }
        .second-item{
            width: 264px;
        }
      
           .title {
               color: #2E2F42;
               font-family: Roboto;
               font-size: 20px;
               font-style: normal;
               font-weight: 500;
               line-height: 1.2;
               letter-spacing: 0.02em;
               margin-bottom: 8px;
           }
    
           .item {
               color: #434455;
               font-family: Roboto;
               font-size: 16px;
               font-style: normal;
               font-weight: 400;
               line-height: 1.5;
               letter-spacing: 0.02em;
           }
                    
          
          
     
    
      /* Section our team */

   .section-three {
       background-color: #F4F4FD;
    padding: 120px 0 120px;
   }

   .list-item {
       background-color: #FFFFFF;
       width: 264px;
       height: 380px;
    border-radius: 0px 0px 4px 4px;
      
   }

   .team-list{
    display: flex;
    gap: 24px;
   }
   /* .block-image{
    padding-bottom: 32px;
   } */
.div-position{
    padding: 32px 0 32px;
}
  
/* .position{
    padding-bottom: 32px;
} */

.title-section{
    color:  #2E2F42; 
    text-align: center;            
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;        
        letter-spacing: 0.02em;
        margin-bottom: 72px;
}

.team-name{color: #2E2F42;      
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;   
    letter-spacing: 0.02em;
    padding-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
}

.team-name-position{
    background-color: #FFFFFF;
}

.position{
    color:  #434455;                  
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;     
        letter-spacing: 0.02em;
        text-align: center;
}

/* Section portfolio */

.section-portfolio{
    padding: 120px 0 120px 0;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 


}
.portfolio-item{

    width: 360px;
    width: calc((100% - 24px * 2) / 3);
    height: 420px;
    /* padding: 32px 16px; */
    border: 1px solid #e7e9fc;
    border-top: none;
}
.item-portfolio{
    color:  #2E2F42;        
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;        
        letter-spacing: 0.02em;
        /* padding-bottom: 8px; */
        margin-bottom: 8px
}

.item-p{
    color: #434455;       
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;        
        letter-spacing: 0.02em;
}
.div-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

/* Footer */
.footer{
    background:  #2E2F42;
    padding: 100px 0 100px;
    
}
.footer-container{
    background: #2E2F42;
    /* padding: 100px 1020px 100px 156px; */
}


.logo-footer{
    color:  #F4F4FD;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;        
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        }
        .logo-bottom{
            display: inline-block;
            margin-bottom: 16px;
        }
        
        .footer-discription{
        color:  #F4F4FD;          
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;           
            letter-spacing: 0.02em;
            width: 264px;
            padding-top: 16px;
        }


    